<!DOCTYPE html>
<meta charset="utf-8">

<head>
    <link rel="stylesheet" href="../style/style_barcode_generators.css">
</head>

<body style="background-color:#FAFAFA)">
    <div id="title-div">
        <h1>Barcode and plotted generator</h1>
    </div>

    <div id="svg-div">
        <svg width="800" height="500" id="svg_bar"></svg>
        <svg width="500" height="400" id="svg_fsc"></svg>
    </div>


    <div id="info-div">
        <div id="info-div-text">
          <br>
            Barcode (top). Hover to see minimal generator(s) (bottom).<br> <br>
    
        </div>
    
    </div>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <!-- <script src="d3-save-svg-gh-pages/assets/d3-save-svg.min.js"></script> -->


    <script src="../js/barcode_generators.js"></script>


</body>